<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396362311536-5btloqa24gk60r1bjka8i3n833mmla7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396362311536-5btloqa24gk60r1bjka8i3n833mmla7q</string>
	<key>API_KEY</key>
	<string>AIzaSyDx0KeP038GJ1IyYAjzYJM_K0UIP_oHpfg</string>
	<key>GCM_SENDER_ID</key>
	<string>396362311536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zelihauslu.InstagramCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramclonefirebase-bbfeb</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclonefirebase-bbfeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396362311536:ios:3eb8e24c15e124c0cdd1b5</string>
</dict>
</plist>