<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643404899901-7p2tvm0q1o4j6of07sn2ast9qth8pu0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643404899901-7p2tvm0q1o4j6of07sn2ast9qth8pu0p</string>
	<key>API_KEY</key>
	<string>AIzaSyBZSCHaHeD-iqu9Lmif1D8r524n8UfKacY</string>
	<key>GCM_SENDER_ID</key>
	<string>643404899901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zelihauslu.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-af7c4</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-af7c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643404899901:ios:c846c8bdb8f2dad35bac54</string>
</dict>
</plist>